N8N/workflow.json
{
  "name": "Assistant Inscription Evenement - TP n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "is:unread subject:(inscription)"
        },
        "options": {}
      },
      "id": "1f1a0a10-0001-4a00-9000-000000000001",
      "name": "Gmail Trigger - Nouvelle inscription",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu extrais les informations d'inscription a un evenement depuis un email. Reponds UNIQUEMENT en JSON avec les champs: nom, email, evenement, date_evenement (format AAAA-MM-JJ), message. Si une info est absente, mets une chaine vide."
            },
            {
              "role": "user",
              "content": "=Sujet: {{$json.Subject}}\nExpediteur: {{$json.From}}\nCorps du message:\n{{$json.snippet}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "1f1a0a10-0002-4a00-9000-000000000002",
      "name": "IA - Extraire infos inscription",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json.message?.content || $input.first().json;\nlet data = typeof ai === 'string' ? JSON.parse(ai) : ai;\n\nreturn [{\n  json: {\n    nom: data.nom || '',\n    email: data.email || $('Gmail Trigger - Nouvelle inscription').first().json.From,\n    evenement: data.evenement || 'Evenement non precise',\n    date_evenement: data.date_evenement || '',\n    message: data.message || '',\n    date_inscription: new Date().toISOString(),\n    threadId: $('Gmail Trigger - Nouvelle inscription').first().json.threadId,\n    messageId: $('Gmail Trigger - Nouvelle inscription').first().json.id\n  }\n}];"
      },
      "id": "1f1a0a10-0003-4a00-9000-000000000003",
      "name": "Mise en forme des donnees",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Inscriptions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{$json.nom}}",
            "Email": "={{$json.email}}",
            "Evenement": "={{$json.evenement}}",
            "Date evenement": "={{$json.date_evenement}}",
            "Message": "={{$json.message}}",
            "Date inscription": "={{$json.date_inscription}}"
          }
        },
        "options": {}
      },
      "id": "1f1a0a10-0004-4a00-9000-000000000004",
      "name": "Google Sheets - Enregistrer inscription",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{$json.date_evenement}}T09:00:00",
        "end": "={{$json.date_evenement}}T10:00:00",
        "additionalFields": {
          "summary": "=Inscription: {{$json.nom}} - {{$json.evenement}}",
          "description": "=Inscription recue par email.\nNom: {{$json.nom}}\nEmail: {{$json.email}}\nMessage: {{$json.message}}"
        }
      },
      "id": "1f1a0a10-0005-4a00-9000-000000000005",
      "name": "Google Calendar - Creer evenement",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CRED_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{$('Mise en forme des donnees').item.json.messageId}}",
        "emailType": "text",
        "message": "=Bonjour {{$('Mise en forme des donnees').item.json.nom}},\n\nNous avons bien recu votre inscription a l'evenement \"{{$('Mise en forme des donnees').item.json.evenement}}\".\n\nVotre demande a ete enregistree et l'equipe a ete notifiee. Vous recevrez prochainement plus de details.\n\nCeci est une reponse automatique generee par notre assistant n8n.\n\nCordialement,\nL'equipe organisatrice",
        "options": {}
      },
      "id": "1f1a0a10-0006-4a00-9000-000000000006",
      "name": "Gmail - Repondre confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        160
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=Nouvelle inscription recue !\nNom: {{$json.nom}}\nEmail: {{$json.email}}\nEvenement: {{$json.evenement}}\nDate souhaitee: {{$json.date_evenement}}\nMessage: {{$json.message}}",
        "otherOptions": {}
      },
      "id": "1f1a0a10-0007-4a00-9000-000000000007",
      "name": "Slack - Notifier equipe",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        320,
        -160
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CRED_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Nouvelle inscription": {
      "main": [
        [
          {
            "node": "IA - Extraire infos inscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Extraire infos inscription": {
      "main": [
        [
          {
            "node": "Mise en forme des donnees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mise en forme des donnees": {
      "main": [
        [
          {
            "node": "Google Sheets - Enregistrer inscription",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar - Creer evenement",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Repondre confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Enregistrer inscription": {
      "main": [
        [
          {
            "node": "Slack - Notifier equipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "tp-n8n-airflow"
  }
}
